/* 

This is the description for the laser.

 */

	.l4send1
    {
      position:absolute;
	  height: 350px;
	  width: 643px;
      top: 5px;
      left: 280px;
      z-index: 0;
	  opacity: 1;
	  filter: alpha(opacity=1);
	  display: none;
	}